body {
  max-width: 10000px;
  min-height: 500px;
}

main {
  min-height: 300px;
  display: grid;
  align-items: center;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.front-page a {
  display: block;
}

/* CATEGORY LIST */

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}

.headline {
  grid-column: 1/3;
  font-size: 30px;
}

.category {
  width: auto;
  height: 70px;
  border-bottom: 1px solid black;
  padding-top: 40px;
}

.category a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: black;
}

.category:hover {
  background-color: pink;
}

/* PRODUCT LIST */

.main-nav {
  display: flex;
  align-items: center;
  margin: 50px 100px;
}

.main-nav h1 {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding: 8px 30px;
  background-color: pink;
  box-shadow: 5px 5px purple;
  margin-right: 10px;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Playfair Display", serif;
  color: purple;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0 auto;
  }

  .container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}

h3 {
  text-align: left;
}

.box p {
  text-align: left;
}

.box {
  text-align: right;
}

button {
  background-color: lightblue;
  border: 1px solid blue;
  box-shadow: 3px 3px black;
}

@media screen and (max-width: 830px) {
  .main-nav {
    display: inline-block;
    background-color: pink;
  }

  nav a {
    font-size: 18px;
    padding: 4px 15px;
    box-shadow: 3px 3px purple;
    margin-right: 10px;
  }

  nav {
    margin-top: 30px;
  }

  .categories {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .main-nav {
    display: block;
    background-color: turquoise;
  }

  nav a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    padding: 4px 15px;
    background-color: pink;
    box-shadow: 3px 3px purple;
    margin-right: 10px;
  }

  nav {
    margin-top: 30px;
  }
}
